.container.contact_container {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%;
}

.contact_options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_option {
  text-align: center;
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  cursor: default;
  transition: var(--transition);
}

.contact_option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact_icon {
  font-size: 1.4rem;
  color: var(--color-light);
}

.contact_option p {
  font-size: 0.9rem;
  margin: 0.4rem 0 1rem;
}

.contact_option small {
  font-weight: 300;
  color: var(--color-primary);
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_form input,
.contact_form textarea {
  padding: 1rem;
  border-radius: 0.4rem;
  border: 2px solid var(--color-primary-variant);
  font-family: "Poppins", sans-serif;
}

.contact_form input:focus,
.contact_form textarea:focus {
  background: black;
  color: var(--color-light);
}

.contact_form textarea {
  height: 10rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact_form input.comment {
  height: 10rem;
}

/*==================== Media Queries (Medium) =====================*/
@media screen and (max-width: 1024px) {
  .container.contact_container {
    grid-template-columns: 40% 50%;
  }

  .contact_options {
    gap: 1.4rem;
  }

  .contact_form {
    gap: 1.4rem;
  }
}

/*==================== Media Queries (Small) =====================*/
@media screen and (max-width: 600px) {
  .container.contact_container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .contact_options {
    width: 60%;
    gap: 1rem;
  }

  .contact_form {
    width: 80%;
    gap: 1rem;
  }

  .contact_form button {
    margin: auto;
  }
}
